<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/global.css') }}">
    <title>My Flask App</title>
</head>
<body>
    <h1>My first flask</h1>
    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Age
                </th>
            </tr>
        </thead>
        <tbody>
            {% for num in range(age)%}
            {%if num%==0%}
            <tr>
                <td>
                    {{name}}
                </td>
                <td>
                    {{ age }}
                </td>
            </tr>
            {%endif%}
            {%endfor%}
            
        </tbody>


    </table>
</body>
</html>