<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dojos</title>
</head>
<body class="d-flex bd-highlight bg-success">

    <div class="p-2 flex-fill bd-highlight">
        <h2>New Dojo</h2>
        <form action="/dojos/new_dojo" method="POST" class="col-6 mx-auto">
            <label for="name">Name:</label>
            <input type="text" name="name">
            <br> <br>
            <input type="submit" value="Create" class="btn btn-primary">
        </form>
    </div>
    <div class="p-2 flex-fill bd-highlight">
    <h1 class="text-center text-white">All Dojos</h1>
    <table class="table table-hover bg-warning">
        <tbody>
        {% for dojo in dojos %}
            <tr>
                <td>
                    <a href="/dojos/show/{{dojo.id}}">{{dojo.name}}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="/dojos/new" class="btn btn-primary">Add Ninja</a>
</div>
</body>
</html>
