<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Recipe Share</title>
</head>
<body class="bg-dark">

    <h2 class="text-white text-info text-center">Welcome {{session.first_name}}</h2>
    <br>
    <h2 class="text-white text-white text-center">{{recipe.name}}</h2>

    <div class="text-white text-white text-center">
        <div>
            Description: {{recipe.description}}
        </div>
            
        <div>
            Under Thirty mins:
            {%if recipe.thirty_min == 1: %}
                <p>Yes</p>
            {%else: %}
            <p>No</p>
            {%endif%}
        </div>
        <div>
            instructions: {{recipe.instructions}}
        <div>
            Date Made: {{recipe.date_cooked}}
        </div>
    </div>
    <a href="/recipes" class="btn btn-primary">Home</a>
</body>
</html>
